
USE [QuanLySach]
GO
/****** Object:  Table [dbo].[ChiTietPhieuMuon]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuMuon](
	[maPhieuMuon] [varchar](255) NOT NULL,
	[maSach] [varchar](255) NOT NULL,
	[ngayTra] [date] NULL,
	[trangThaiTra] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuMuon] ASC,
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[maDocGia] [varchar](255) NOT NULL,
	[diaChi] [nvarchar](200) NULL,
	[gioiTinh] [bit] NOT NULL,
	[soDienThoai] [varchar](255) NULL,
	[tenDocGia] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [varchar](255) NOT NULL,
	[chucVu] [bit] NOT NULL,
	[diaChi] [nvarchar](250) NULL,
	[gioiTinh] [bit] NOT NULL,
	[ngaySinh] [date] NULL,
	[soDienThoai] [varchar](255) NULL,
	[tenNhanVien] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaXuatBan]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaXuatBan](
	[maNhaXuatBan] [varchar](255) NOT NULL,
	[diaChi] [nvarchar](250) NULL,
	[email] [nvarchar](250) NULL,
	[tenNhaXuatBan] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhaXuatBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMuon]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMuon](
	[maPhieuMuon] [varchar](255) NOT NULL,
	[ngayMuon] [date] NULL,
	[maNhanVien] [varchar](255) NULL,
	[soThe] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuMuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[maSach] [varchar](255) NOT NULL,
	[namXuatBan] [int] NOT NULL,
	[tenSach] [varchar](255) NULL,
	[trangThai] [bit] NOT NULL,
	[maNhaXuatBan] [varchar](255) NULL,
	[maTacGia] [varchar](255) NULL,
	[maTheLoai] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TacGia]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TacGia](
	[maTacGia] [varchar](255) NOT NULL,
	[email] [nvarchar](250) NULL,
	[ghiChu] [text] NULL,
	[tenTacGia] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTacGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenTaiKhoan] [varchar](255) NOT NULL,
	[matKhau] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[tenTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[maTheLoai] [varchar](255) NOT NULL,
	[tenTheLoai] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheThuVien]    Script Date: 11/29/2021 11:19:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheThuVien](
	[soThe] [varchar](255) NOT NULL,
	[ngayBatDau] [date] NULL,
	[ngayHetHan] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[soThe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietPhieuMuon] ([maPhieuMuon], [maSach], [ngayTra], [trangThaiTra]) VALUES (N'PM0001', N'SA00001', CAST(N'2022-01-06' AS Date), 1)
INSERT [dbo].[ChiTietPhieuMuon] ([maPhieuMuon], [maSach], [ngayTra], [trangThaiTra]) VALUES (N'PM0002', N'SA00005', CAST(N'2021-12-29' AS Date), 1)
INSERT [dbo].[ChiTietPhieuMuon] ([maPhieuMuon], [maSach], [ngayTra], [trangThaiTra]) VALUES (N'PM0003', N'SA00007', CAST(N'2021-11-29' AS Date), 1)
GO
INSERT [dbo].[DocGia] ([maDocGia], [diaChi], [gioiTinh], [soDienThoai], [tenDocGia]) VALUES (N'DG0002', N'Số 61 Đường Cây Trâm Phường 6 Q7 TP Hồ Chí Minh', 1, N'101014444', N'Mai Hoàng')
INSERT [dbo].[DocGia] ([maDocGia], [diaChi], [gioiTinh], [soDienThoai], [tenDocGia]) VALUES (N'DG0003', N'Số 11 Đường Cây Trâm Phường 10 Q11 TP Hồ Chí Minh', 0, N'404546433', N'Võ Văn Thanh')
INSERT [dbo].[DocGia] ([maDocGia], [diaChi], [gioiTinh], [soDienThoai], [tenDocGia]) VALUES (N'DG0004', N'Số 241 Đường Cây Trâm Phường 15 Q10 TP Hồ Chí Minh', 0, N'414141414', N'Nguyễn Canh')
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [chucVu], [diaChi], [gioiTinh], [ngaySinh], [soDienThoai], [tenNhanVien]) VALUES (N'NV00001', 0, N'Số 141, Đường Bến Vân Đồn, Phường 16, Q5, TP Hồ Chí Minh', 1, CAST(N'2000-12-31' AS Date), N'0210323831', N'Trí Trung Anh')
INSERT [dbo].[NhanVien] ([maNhanVien], [chucVu], [diaChi], [gioiTinh], [ngaySinh], [soDienThoai], [tenNhanVien]) VALUES (N'NV00002', 1, N'Số 121, Đường Nguyễn Công Hoan, Phường 2, Q4, TP Hồ Chí Minh', 1, CAST(N'2000-12-31' AS Date), N'3675334730', N'Mai Hoàng')
INSERT [dbo].[NhanVien] ([maNhanVien], [chucVu], [diaChi], [gioiTinh], [ngaySinh], [soDienThoai], [tenNhanVien]) VALUES (N'NV00003', 0, N'Số 51, Đường Cây Trâm, Phường 4, Q1, TP Hồ Chí Minh', 0, CAST(N'2001-01-01' AS Date), N'6658045610', N'Võ Văn Thanh')
GO
INSERT [dbo].[NhaXuatBan] ([maNhaXuatBan], [diaChi], [email], [tenNhaXuatBan]) VALUES (N'NX00000', N'Số 91, Đường Cầm Bá Thước, Phường 12, Q4, TP Hồ Chí Minh', N'chu12@gmail.com', N'Nhà xuất bản Chính trị Quốc gia')
INSERT [dbo].[NhaXuatBan] ([maNhaXuatBan], [diaChi], [email], [tenNhaXuatBan]) VALUES (N'NX00001', N'Số 61, Đường Cây Trâm, Phường 6, Q7, TP Hồ Chí Minh', N'san0895@gmail.com', N'Nhà xuất bản Tư pháp')
INSERT [dbo].[NhaXuatBan] ([maNhaXuatBan], [diaChi], [email], [tenNhaXuatBan]) VALUES (N'NX00002', N'Số 11, Đường Cây Trâm, Phường 10, Q11, TP Hồ Chí Minh', N'to0502@gmail.com', N'Nhà xuất bản Hồng Đức')
GO
INSERT [dbo].[PhieuMuon] ([maPhieuMuon], [ngayMuon], [maNhanVien], [soThe]) VALUES (N'PM0001', CAST(N'2020-06-30' AS Date), N'NV00001', N'DG0002')
INSERT [dbo].[PhieuMuon] ([maPhieuMuon], [ngayMuon], [maNhanVien], [soThe]) VALUES (N'PM0002', CAST(N'2020-08-09' AS Date), N'NV00002', N'DG0003')
INSERT [dbo].[PhieuMuon] ([maPhieuMuon], [ngayMuon], [maNhanVien], [soThe]) VALUES (N'PM0003', CAST(N'2020-01-04' AS Date), N'NV00003', N'DG0004')
GO
INSERT [dbo].[Sach] ([maSach], [namXuatBan], [tenSach], [trangThai], [maNhaXuatBan], [maTacGia], [maTheLoai]) VALUES (N'SA00001', 1929, N'Lên gác rút thang', 1, N'NX00014', N'TG00065', N'TL00003')
INSERT [dbo].[Sach] ([maSach], [namXuatBan], [tenSach], [trangThai], [maNhaXuatBan], [maTacGia], [maTheLoai]) VALUES (N'SA00005', 1924, N'Ai che lung cho b?n', 1, N'NX00021', N'TG00041', N'TL00003')
INSERT [dbo].[Sach] ([maSach], [namXuatBan], [tenSach], [trangThai], [maNhaXuatBan], [maTacGia], [maTheLoai]) VALUES (N'SA00007', 1998, N'N?n giáo d?c c?a ngu?i giàu', 1, N'NX00021', N'TG00065', N'TL00004')
GO
INSERT [dbo].[TacGia] ([maTacGia], [email], [ghiChu], [tenTacGia]) VALUES (N'TG00000', N'chu12@gmail.com', N'khong co', N'Ha-Joon Chang')
INSERT [dbo].[TacGia] ([maTacGia], [email], [ghiChu], [tenTacGia]) VALUES (N'TG00001', N'san0895@gmail.com', N'khong co', N'Donald Trump')
INSERT [dbo].[TacGia] ([maTacGia], [email], [ghiChu], [tenTacGia]) VALUES (N'TG00002', N'to0502@gmail.com', N'khong co', N'Tom G. Palmer')
GO
INSERT [dbo].[TaiKhoan] ([tenTaiKhoan], [matKhau]) VALUES (N'NV00002', N'NV000021')
INSERT [dbo].[TaiKhoan] ([tenTaiKhoan], [matKhau]) VALUES (N'NV00150', NULL)
INSERT [dbo].[TaiKhoan] ([tenTaiKhoan], [matKhau]) VALUES (N'NV00151', NULL)
GO
INSERT [dbo].[TheLoai] ([maTheLoai], [tenTheLoai]) VALUES (N'TL00001', N'Sách Chính trị – pháp luật')
INSERT [dbo].[TheLoai] ([maTheLoai], [tenTheLoai]) VALUES (N'TL00002', N'Sách Khoa học công nghệ – Kinh tế')
INSERT [dbo].[TheLoai] ([maTheLoai], [tenTheLoai]) VALUES (N'TL00003', N'Sách Văn học nghệ thuật')
GO
INSERT [dbo].[TheThuVien] ([soThe], [ngayBatDau], [ngayHetHan]) VALUES (N'DG0002', CAST(N'2020-04-20' AS Date), CAST(N'2022-11-02' AS Date))
INSERT [dbo].[TheThuVien] ([soThe], [ngayBatDau], [ngayHetHan]) VALUES (N'DG0003', CAST(N'2020-06-06' AS Date), CAST(N'2023-01-11' AS Date))
INSERT [dbo].[TheThuVien] ([soThe], [ngayBatDau], [ngayHetHan]) VALUES (N'DG0004', CAST(N'2020-06-06' AS Date), CAST(N'2023-01-11' AS Date))
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK3nhykuwm05th6s30x22o1h9b2] FOREIGN KEY([maSach])
REFERENCES [dbo].[Sach] ([maSach])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] CHECK CONSTRAINT [FK3nhykuwm05th6s30x22o1h9b2]
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon]  WITH CHECK ADD  CONSTRAINT [FKprsrvw04jdsq6ffm5i9x9lmxw] FOREIGN KEY([maPhieuMuon])
REFERENCES [dbo].[PhieuMuon] ([maPhieuMuon])
GO
ALTER TABLE [dbo].[ChiTietPhieuMuon] CHECK CONSTRAINT [FKprsrvw04jdsq6ffm5i9x9lmxw]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FK2ynr6fgu884l9dv6bm0hh196q] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FK2ynr6fgu884l9dv6bm0hh196q]
GO
ALTER TABLE [dbo].[PhieuMuon]  WITH CHECK ADD  CONSTRAINT [FKj2iiei6w2tq49yakdo0rgvi22] FOREIGN KEY([soThe])
REFERENCES [dbo].[TheThuVien] ([soThe])
GO
ALTER TABLE [dbo].[PhieuMuon] CHECK CONSTRAINT [FKj2iiei6w2tq49yakdo0rgvi22]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK26fl3sgofgu7sv6u8w2fivin3] FOREIGN KEY([maTheLoai])
REFERENCES [dbo].[TheLoai] ([maTheLoai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK26fl3sgofgu7sv6u8w2fivin3]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FKos8qxumlj493069p193mmk4f2] FOREIGN KEY([maNhaXuatBan])
REFERENCES [dbo].[NhaXuatBan] ([maNhaXuatBan])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FKos8qxumlj493069p193mmk4f2]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FKvu77ij1s2fyrfwmewx3jp3s9] FOREIGN KEY([maTacGia])
REFERENCES [dbo].[TacGia] ([maTacGia])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FKvu77ij1s2fyrfwmewx3jp3s9]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FKf2t263ds5ceevjvr93y2lke5q] FOREIGN KEY([tenTaiKhoan])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FKf2t263ds5ceevjvr93y2lke5q]
GO
ALTER TABLE [dbo].[TheThuVien]  WITH CHECK ADD  CONSTRAINT [FK3qy0eqe8eawo732bdjlcdfu6s] FOREIGN KEY([soThe])
REFERENCES [dbo].[DocGia] ([maDocGia])
GO
ALTER TABLE [dbo].[TheThuVien] CHECK CONSTRAINT [FK3qy0eqe8eawo732bdjlcdfu6s]
GO
